* {
    margin: 0;
    padding: 0;
    background-color: #f5f4f0;
    font-family: var(--Open);
}

:root {
    --Open: 'Open Sans', sans-serif;
    --headline: 16px bold;
    --subtitle: 16px italic;

    --red: #E1624F;
    --blue: #0C51A7;
    --purple: #591B98;
    --pink: #E5245E;
    --orange: #E95E10;
}


.container {
    margin: 88px 80px auto 80px;
}

.headline {
    color: var(--red);
    font-size: var(--headline);
}

h1 {
    font-size: 36px bold;
}

h2 {
    font-size: 32px bold;
}

h3 {
    font-size: 28px bold;
}

.subtittle {
    font-size: var(--subtitle);
}

.img {
    border-radius: 32px;
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 10px;
}



p {
    font-size: 16px;
}

.padding-bottom {
    padding-bottom: 40px;
}


.secondContainer {
    margin: auto 80px auto 80px;
}

#blue {
    color: var(--blue);
}

#purple {
    color: var(--purple);
}

#pink {
    color: var(--pink);
}

#orange {
    color: var(--orange);
}

.creditos {
    margin: 80px 80px auto 80px;
    text-align: center;
}

